body {
	margin: 5px;
	width: 310px;
}

h1 {
	font-size: 24px;
	margin-bottom: 8px;
}

#nowPlaying {
	font-style: italic;
	color: #666;
	position: fixed;
	left: 0px;
	width: 320px;
	bottom: 0px;
	border-top: #EEE;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 5px white;
	padding: 2px;
}

select {
	width: 310px;
	height: 50px;
	font-size: 24px;
	text-align: center;
	display: block;
}
button {
	width: 310px;
	height: 60px;
	font-size: 16px;
}
button.small {
	height: 40px;
}
.col2 {
	width: 155px;
}
.col3 {
	width: 102px;
}
.left {
	float: left;
}
.col3.center {
	width: 106px;
}
.right {
	float: right;
}
input[type="text"] {
	width: 300px;
	font-size: 20px;
	height: 50px;
	border: none;
	padding: 5px;
	box-shadow: inset 0px 0px 5px #CCC;
}

#queueDiv .queueItem td {
	font-size: 14px;
	padding: 3px 3px;
}
#queueDiv .queueItem {
	background-color: #DDD;
}
#queueDiv .queueItem:nth-child(2n) {
	background-color: #EEE;
}

#queueDiv button.queueItemBtn {
	width: 30px;
	height: 30px;
	padding: 0px;
}
#queueDiv tr:first-child button.queueMoveButton {
	visibility: hidden;
}